<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="save">
        {% csrf_token %}
        <p>Title:</p>
        <input type="text" name="title" required>
        <p>Body:</p>
        {{form.media}}
        <textarea name="body" id="" cols="30" rows="50" required></textarea>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
        <p>Author(same as username):</p>
        <input type="text" name="author" required>
        <input type="datetime-local" name="created">
        <input type="submit">
    </form>
</body>
</html>